/* MOBILE FIRST  */

body{
    display: flex;
    flex-direction: column;
    background-color: var(--cor1);
    min-height: 100vh;
}

header{
    border-style: none none none none;
    border-width: 0.031rem;
    border-color: var(--cor2);
    flex: 0 0 0;
}
p{
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--cor2);
}

.title-message{
    padding: .7rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex: 1; */
}

.menu-icon{
    display: flex;
    align-items: center;
    justify-content: end;
}

header h1 a{
    font-size: 2.14rem;
    font-weight: 700;
    text-decoration: none;
}

header p{
    font-size: 1rem;
}

header nav ul{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;

    padding: 1em;
    list-style: none;   
}
header nav ul li a{
    text-decoration: none;
}

main{
    margin-top: 1em;
    flex: 1 1 0;
}

.text-introduction-bes{
    /* display: flex;
    justify-content: center; */
    text-align: center;

    margin-top: 1em;
    padding: 0.25rem;

    font-weight: 200;
    font-size: 0.8rem;  
}
.criador_bes{
    font-size: 1.2em;
    padding-bottom: .3em;
}
.criador_bes::after{
    content: '';
    display: block;
    width: 10rem;
    height: 0.2rem;
    background-color: rgb(226, 32, 32);
    margin: 0 auto;
    border-radius: 10px;
}
.bike-text{
    margin: 2rem 0 1rem 1rem;
    display: flex;
    flex: 1;
    align-items: center;
}
.bike-text-desktop{
    display: none;
}
.empresa-bes{
    margin-right: 1rem;
}
.empresa-bes p{
    text-align: left;
    font-size: 0.7em;
    line-height: 1rem;
}
.analise-review{
    margin-top: 3rem;
    text-align: center;
}
.container-user{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.container-user-desktop{
    display: none;
}

.container-user p{
    color: var(--cor5);
    line-height: 1rem;
    text-shadow: 1px 1px var(--cor6);

}
.analise-review-span {
    padding: 0.5rem;
    font-size: 1rem;
    text-shadow: 0.08rem .08rem var(--cor11);
}
.analise-review-span  {
    font-weight: 700;
}
.all-users{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 100%;
    margin: 0 1em 0 1em;
}
.user-name{
    text-shadow: 2px 2px var(--cor7);
    font-size: 1rem;
    color: #d6d6d6;
    font-weight: 700;
}
/* DIV IMAGENS */
.div-male1{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: var(--cor9);
}
.div-male2{
    display: none;

    padding: 0.5em;

    border-radius: 1rem;

    background-color: var(--cor16);
}

.div-male3{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: var(--cor8);
}
.div-male4{
    display: none;

    padding: 0.5em;

    border-radius: 1rem;

    background-color: var(--cor15);
}

.div-woman1{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: var(--cor10);
}
.div-woman2{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: var(--cor11);
}
.div-woman3{
    display: none;

    padding: 0.5em;

    border-radius: 1rem;

    background-color: var(--cor17);
}
.div-woman4{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: var(--cor18);
}
.div-woman5{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: var(--cor19);
}

.adjust-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DIVS IMAGENS */
.div-img{
    padding: 0.2em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
}
.img-bike-woman{
    display: flex;
    justify-content: center;
}


/* IMAGES */
.image{
    border-radius: 50%;
    width: 20%;
}
.bike-woman{
    border-radius: 1rem;
    width: 90%;
}

/* ======= */

.text-sample{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.fake-text,
.fake-text-desktop{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
    margin: auto;

    text-indent: 1rem;
}
.fake-text-desktop-after{
    display: none;
}

/* *********************************** */
/* TABELA DADOS */

.tabela_dados{
    padding: 0.5em;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2em;
    overflow-x: scroll;
}
table{
    white-space:nowrap;
    text-align: center;
}
table,td,th{
    border-collapse: collapse;
    padding: .5em;
    border-style: solid solid solid solid;
}
td{
    width: 10em;
}
thead{
    background-color: #00509d;
}
tbody{
    background-color: #060e38;
}
/* *********************************** */

footer{
    display: flex;
    justify-content: center;
    background-color: #002855;

    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}
.autores{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.autores p {
    font-size: 0.8rem;
    font-weight: 600;
}
.ian{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.luiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.redes{
    display: flex;
    gap: 1rem;
}

.fa-github:hover{
    transition: 200ms;
    color: #7F278F;
    transform: scale(0.8);
}
.fa-instagram:hover{
    transition: 200ms;
    transform: scale(0.8);
}
.fa-linkedin:hover{
    transition: 200ms;
    color: #0066C8;
    transform: scale(0.8);
}

/* ******************************************* */
/* FORMS */
/* ******************************************* */
.forms-reg{
    color: var(--cor2);
}
.itens_forms{
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;   
}
.registrar_geral{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botao_registrar{
    margin-left: 1em;
    background-color: #e5c43e;
    padding: 0.7em;
    border-radius: 0.7em;
    border-style: none;
    box-shadow: 0.1rem 0.12rem 1px rgb(112, 154, 230);
}
.botao_registrar:active{
    transform: scale(0.95);
}
.botao_registrar a{
    text-decoration: none;
}
.submit_geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.listar_geral{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
input[type=button]{
    border-radius: 0.7em;
    padding: 0.5em;
    color: #383838;
    background-color:var(--cor2);
}
input[type=text]{
    border-radius: 0.7em;
    padding: 0.4em;
    color: black;
    background-color:var(--cor2);
}
input[type=email]{
    border-color: #c3baac ;
    border-radius: 7px;
    padding: 4px;
    color: var(--cor2);
    background-color:var(--cor2);
}
input[type=tel]{
    border-color: #c3baac ;
    border-radius: 7px;
    padding: 4px;
    color: var(--cor1);
    background-color:var(--cor2);
}
input[type=date]{
    border-radius: 0.7em;
    padding: 0.5em;
    color: #000000;
    background-color:var(--cor2);
}
input[type=submit]{
    border-color: #c3baac ;
    border-radius: 7px;
    padding: 4px;
    color:var(--cor2);
    background-color:var(--cor12);
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
input[type=textarea].input_listar1{
    border-color: #c3baac ;
    border-radius: 7px;
    padding: 4px;
    color: var(--cor2);
    background-color:var(--cor12);
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.classe_select{
    border-color: #c3baac ;
    border-radius: 7px;
    padding: 4px;
    color: var(--cor2);
    background-color:var(--cor8);
}
/* ******************************************* */
/* OUTRAS PÁGINAS */
/* ******************************************* */

.text-pag{
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    margin-bottom: 2em;
    padding: 0.3em;
}
.text-pag::after{
    content: '';
    display: block;
    width: 10rem;
    height: 0.2rem;
    background-color: rgb(226, 32, 32);
    /* margin-top: 2rem; */
    margin: 0.3rem auto;
    border-radius: 10px;
}

/* ******************************************* */
/* RELATÓRIOS */
/* ******************************************* */

.h2-relatorios{
    font-size: 0.8rem;
    text-align: center;
}
.h2-relatorios::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.2rem;
    background-color: rgb(226, 32, 32);
    margin: 0 auto;
    /* position: absolute; */
    border-radius: 10px;
}
h3{
    font-size: 0.9rem;
}
.input_relatorios label{
    font-size: 0.8rem;
}
.div_relatorios{
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#relatorio_conserto{
    padding: 5rem;
}
.titulo_forms{
    text-align: center;
}
.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.forms_relatorio{
    width: 100%;
}
.teste{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
}
.botao_listar_consertos{
    display: flex;
    justify-content: center;
}

/* ************ */
/* PÁGINAS DE REGISTRO */
/* ************ */
.h2_reg{
    margin-bottom: 1rem;
}
.div_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 2.1rem; */
}

.input_content{
    display: flex;
    flex-direction: column;
}
.input_text_reg{
    width: 100%;   
}
.final_option{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_final{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .botao_margin1{
    margin-left: 1em;
    background-color:#242525;
    width: fit-content;
    padding: 0.5em;
    border-radius: 20px;
    border-color: rgb(195, 186, 172);
    border-width: 0.08em;
    margin-top: 1em;
}
.forms_regMecanico{
    background-color: var(--cor19);
    display: flex;
    justify-content: start;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.forms_regConserto{
    background-color: var(--cor19);
    display: flex;
    justify-content: start;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
