/* MOBILE FIRST */
body{
    background-color: #03071e;
}

header{
    border-style: none none solid none;
    border-width: 0.031rem;
    border-color: white;
}
p{
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
}

.title-message{
    padding: .7rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}
.menu-icon{
    display: flex;
    align-items: center;
    justify-content: end;
}
header h1{
    font-size: 2.14rem;
    font-weight: 700;
}

header p{
    font-size: 1rem;
}

header ul{
    display: none;
    /* list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem; */
}

header ul a{ 
    text-decoration: none;
    border: 0.063rem solid white;
    padding: 0.25rem;
    border-radius: 1.2rem;
}

/* .menu-nav{
    margin-top: 1.5em;
} */

.text-introduction-bes{
    display: flex;
    justify-content: center;

    margin-top: 1.5em;
    padding: 0.25rem;

    font-weight: 200;
    font-size: 0.8rem;    
}

.container-user{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.container-user p{
    color: #fffcf2;
    line-height: 1rem;
    text-shadow: 1px 1px #1f1f1f8e;

}
.all-users{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 70%;
}
.user-name{
    text-shadow: 2px 2px #1f1f1f;
    font-size: 1rem;
    color: #d6d6d6;
    font-weight: 700;
}
/* DIV IMAGENS */
.div-male1{
    border-radius: 1rem;
    background-color: #ff9f1c;
}

.div-male1{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: #e71d36;
}

.div-male3{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: #ff9f1c;
}

.div-woman1{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: #2ec4b6;
}
.adjust-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DIVS IMAGENS */
.div-img-man-1{
    padding: 0.2em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
}
.div-img-man-3{
    padding: 0.2em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
}
.div-img-woman-1{
    padding: 0.2em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
}


/* IMAGES */
.male1{
    border-radius: 50%;
    width: 20%;
}
.male3{
    border-radius: 50%;
    width: 20%;
}
.woman1{
    border-radius: 50%;
    width: 20%;
}

