/* MOBILE FIRST */

body{
    display: flex;
    flex-direction: column;
    background-color: #03071e;
    min-height: 100vh;
}

header{
    border-style: none none solid none;
    border-width: 0.031rem;
    border-color: white;
    /* flex: 0 1 0; */
}
p{
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
}

.title-message{
    padding: .7rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.menu-icon{
    display: flex;
    align-items: center;
    justify-content: end;
}

header h1 a{
    font-size: 2.14rem;
    font-weight: 700;
    text-decoration: none;
}

header h1 a:hover{
    color: rgb(194, 194, 194);
}

header p{
    font-size: 1rem;
}

#menu{
    display: none;
    margin: 0 1rem 1rem 0;
    border-radius: 0 1em 1em 1em;
    
}

header nav{ 
    position: absolute;
    top: 0;
    font-size: 1.125em;
    
}
header nav ul{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: space-evenly;
    gap: 1.5em;
    background: rgb(74, 78, 105,.97);   
    /* height: 100%;
    width: 100%; */
    height: 40vh;
    width: 70vw;
    padding: 1em;
    list-style: none;
    
}
header nav ul li a{
    text-decoration: none;
}

main{
    margin-top: 1em;
    flex: 1 1 0;
}

.text-introduction-bes{
    /* display: flex;
    justify-content: center; */
    text-align: center;

    margin-top: 1em;
    padding: 0.25rem;

    font-weight: 200;
    font-size: 0.8rem;  
}
.criador_bes{
    font-size: 1.2em;
    padding-bottom: .3em;
    /* border-style: none none solid none; */
    /* border-width: 0.031rem; */
}
.bike-text{
    margin: 2rem 0 1rem 1rem;
    display: flex;
    flex: 1;
    align-items: center;
}
.empresa-bes{
    margin-right: 1rem;
}
.empresa-bes p{
    text-align: left;
    font-size: 0.7em;
    line-height: 1rem;
}
.analise-review{
    margin-top: 3rem;
    text-align: center;
}
.container-user{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container-user p{
    color: #fffcf2;
    line-height: 1rem;
    text-shadow: 1px 1px #1f1f1f8e;

}
.all-users{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 100%;
    margin: 0 1em 0 1em;
}
.user-name{
    text-shadow: 2px 2px #1f1f1f;
    font-size: 1rem;
    color: #d6d6d6;
    font-weight: 700;
}
/* DIV IMAGENS */
.div-male1{
    border-radius: 1rem;
    background-color: #ff9f1c;
}

.div-male1{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: #e71d36;
}

.div-male3{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: #ff9f1c;
}

.div-woman1{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: #2ec4b6;
}
.div-woman2{
    padding: 0.5em;

    border-radius: 1rem;

    background-color: #ff006e;
}
.adjust-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DIVS IMAGENS */
.div-img{
    padding: 0.2em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
}
.img-bike-woman{
    display: flex;
    justify-content: center;
}


/* IMAGES */
.image{
    border-radius: 50%;
    width: 20%;

}
.bike-woman{
    border-radius: 1rem;
    width: 90%;
}

/* ======= */

.text-sample{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.fake-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
    margin: auto;

    text-indent: 1rem;
}
/* *********************************** */
/* TABELA DADOS */

.tabela_dados{
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    overflow-x: scroll;
}
table{
    text-align: center;
}
table,td,th,tr{
    border-collapse: collapse;
    padding: .5em;
    border-style: solid solid solid solid;
}
thead{
    background-color: #00509d;
}
tbody{
    background-color: #060e38;
}
/* *********************************** */

footer{
    display: flex;
    justify-content: center;
    background-color: #002855;

    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}
.autores{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.autores p {
    font-size: 0.8rem;
    font-weight: 600;
}
.ian{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.luiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.redes{
    display: flex;
    gap: 1rem;
}

.fa-github:hover{
    transition: 100ms;
    color: #7F278F;
    transform: scale(0.8);
}
.fa-instagram:hover{
    transition: 100ms;
    transform: scale(0.8);
}
.fa-linkedin:hover{
    transition: 100ms;
    color: #0066C8;
    transform: scale(0.8);

}

/* ******************************************* */
/* FORMS */
/* ******************************************* */
.section-forms{
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.forms-reg{
    color: white;
}
.itens_forms{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.registrar_geral{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botao_registrar{
    margin-left: 1em;
    background-color: #e5c43e;
    padding: 0.7em;
    border-radius: 0.7em;
    border-style: none;
}
.botao_registrar a{
    text-decoration: none;
}
.submit_geral{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.listar_geral{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
input[type=button]{
    border-radius: 0.7em;
    padding: 0.5em;
    color: #383838;
    background-color:white;
}
input[type=text].input_listar{
    border-radius: 0.7em;
    padding: 0.4em;
    color: black;
    background-color:white;
}
input[type=text].input_listar1{
    border-color: rgb(195, 186, 172) ;
    border-radius: 7px;
    padding: 4px;
    color: rgb(255, 255, 255);
    background-color:#5b5c5c;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}
input[type=email].input_listar1{
    border-color: rgb(195, 186, 172) ;
    border-radius: 7px;
    padding: 4px;
    color: rgb(255, 255, 255);
    background-color:#5b5c5c;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}
input[type=tel].input_listar1{
    border-color: rgb(195, 186, 172) ;
    border-radius: 7px;
    padding: 4px;
    color: rgb(255, 255, 255);
    background-color:#5b5c5c;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}
input[type=date].input_listar1{
    border-color: rgb(195, 186, 172) ;
    border-radius: 7px;
    padding: 4px;
    color: rgb(255, 255, 255);
    background-color:#5b5c5c;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}
input[type=submit].input_listar1{
    border-color: rgb(195, 186, 172) ;
    border-radius: 7px;
    padding: 4px;
    color: rgb(255, 255, 255);
    background-color:#5b5c5c;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
input[type=textarea].input_listar1{
    border-color: rgb(195, 186, 172) ;
    border-radius: 7px;
    padding: 4px;
    color: rgb(255, 255, 255);
    background-color:#5b5c5c;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.classe_select{
    border-color: rgb(195, 186, 172) ;
    border-radius: 7px;
    padding: 4px;
    color: rgb(255, 255, 255);
    background-color:#5b5c5c;
}
.botao_margin1{
    margin-left: 1em;
    background-color:#242525;
    width: fit-content;
    padding: 0.5em;
    border-radius: 20px;
    border-color: rgb(195, 186, 172);
    border-width: 0.08em;
    margin-top: 1em;
}
.forms_regMecanico{
    background-color: var(--cor19);
    display: flex;
    justify-content: start;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.forms_regConserto{
    background-color: var(--cor19);
    display: flex;
    justify-content: start;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.forms_regVeiculos{
    background-color: var(--cor19);
    display: flex;
    justify-content: start;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.relatorios{
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}   

/* ******************************************* */
/* OUTRAS PÁGINAS */
/* ******************************************* */

.text-pag{
    text-align: center;
    margin-bottom: 2em;
}
